APP_ENV=debug
DEBUG_LEVEL=debug
PORT=5000
WHATSAPP_ENABLED=true
TELEGRAM_ENABLED=true
GOOGLE_MAP_KEY=
COLLECT_API_KEY=
CITY_NAME=İstanbul
DIRECTORY_PATH=./data
CITIES_PATH=/cities
TEST_NUMBER={international mobile number here}@c.us
TELEGRAM_BOT_TOKEN=
CRON_SCHEDULE='0 0 * * *' #every day at 00:00 PM